<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <title>Bridging for Tomorrow</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery.scrollex.min.js}" src="/js/jquery.scrollex.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery.scrolly.min.js}" src="/js/jquery.scrolly.min.js"></script>
    <script type="text/javascript" th:src="@{/js/skel.min.js}" src="/js/skel.min.js"></script>
    <script type="text/javascript" th:src="@{/js/util.js}" src="/js/util.js"></script>
    <script type="text/javascript" th:src="@{/js/main.js}" src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" href="/css/font-awesome.min.css"/>
</head>
<body>
<div th:fragment="header">
    <h1 align="center">Bridging for Tomorrow</h1>
    <div th:if="${message}">
        <h3 align="center" th:text="${message}"/>
    </div>
    <div th:if="${message==null}">
        <h3 align="center">Remember that nothing is permanent! Everything is removed when website is not being used!</h3>
    </div>
</div>

<div th:fragment="footer">
    <div class="footer">
        Created by Alan Champion for <a href="https://www.bridgingfortomorrow.org/">Bridging For Tomorrow</a>.
        Contact <a href="mailto:alanchampion@gmail.com">alanchampion@gmail.com</a> if you find any bugs!
    </div>
</div>

</body>
</html>